.banner{
    background-image: url("../../Utilites/banner.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    height:90vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items: center;
}
.banner h3{
    font-family: 'Lobster', cursive;
    color:#f1c40f;
}
.banner h1{
    color:white;
    font-size: 52px;
    font-weight: bold;
    font-family: arial;
}
.banner p{
    color:#bdc3c7;
    font-size: 20px;
}